* {
	padding: 0;
	margin: 0;
	border: 0;
}

body {
	background-image: url('../images/bg-pattern.svg');
	background-repeat: no-repeat;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.container__card {
	min-width: 10rem;
	max-width: 20rem;
	border: 1px solid black;
	background-color: red;
	padding: 1rem;
}

/* .container__card, p {
	font-size: 100px;
	color: blue;
} */
